<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% import 'macros.html' as macro %}

<body align="center">
    
    <h3>POPULAR MOVIES</h3>

    <ul>
        {{ macro.displayMovieList(popular_movies) }}
    </ul>

    <h3>UPCOMING MOVIES</h3>

    <ul>
        {{ macro.displayMovieList(upcoming_movies) }}
    </ul>

    <h3>    NOW PLAYING MOVIES</h3>

    <ul>
        {{ macro.displayMovieList(now_showing_movies) }}
    </ul>

</body>
</html>